{
  "extends": "eslint:recommended",
  "env": {
    "browser": true
  },
  "rules": {
    "quotes": [2, "single"],
    "no-console": 1
  },
  "parserOptions": {
    "sourceType": "module",
    "impliedStrict": true
  }
}
